.spinner_hzlK {
    animation: spinner_vc4H .8s linear infinite;
    animation-delay: -.8s;
}

.spinner_koGT {
    animation-delay: -.65s;
}

.spinner_YF1u {
    animation-delay: -.5s;
}

.spinner_4th {
    animation-delay: -.45s;
}

.spinner_5th {
    animation-delay: -.35s;
}

.spinner_6th {
    animation-delay: -.25s;
}

@keyframes spinner_vc4H {
    0% {
        y: 1px;
        height: 22px;
    }
    93.75% {
        y: 5px;
        height: 14px;
        opacity: .2;
    }
}